@tailwind base;
@tailwind components;
@tailwind utilities;

p, div, a {
    font-family: 'Inter', sans-serif;
    /* color: #343f1e; */
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Marcellus', serif;
    /* color: #343f1e; */

}
@layer components {
    .textColor1 {
        color: #343f1e;
    }
    .bgColor2 {
        background-color: #5c8607;
    }
    .textColor3 {
        color: #ffffff;
    }
}


   :root {
    --ast-global-color-0: #5c8607;
    --ast-global-color-1: #70a309;
    --ast-global-color-2: #343f1e;
    --ast-global-color-3: #e3e9d8;
    --ast-global-color-4: #fdfaf1;
    --ast-global-color-5: rgba(53, 64, 31, 0.24);
    --ast-global-color-6: #050505;
}

button{
    color: var(--ast-global-color-3);
}

@media(min-width: 968px) {
    .mdd\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}